doctype
html
  head
    title Near
  body
    script(type='text/javascript').
        var clientId=#{reportClientId};
        var clientOffers=[#{reportClientOffers}];
        var clientOffersTitle=[#{reportClientOffersTitle}];
        var clientOffersSubtitle=[#{reportClientOffersSubtitle}];

        for(var i=0;i<clientOffers.length;i++)
        {
            var url = "http://reports.descubrenear.com:2000/clientReport/"+clientId+"/offerReport/" +clientOffers[i];
            var displayText = "OfferId: " +clientOffers[i] +" - " +clientOffersTitle[i] +": " +clientOffersSubtitle[i]
            var html = "<p><a href=" +url +">" +displayText +"</a></p>";
            document.write(html);
        }






