doctype
html
  head
    title Near
  body
    script(type='text/javascript').
        var clientIds=[#{reportClientIds}];
        var clientNames=[#{reportClientNames}];

        for(var i=0;i<clientIds.length;i++)
        {
            var url = "http://reports.descubrenear.com:2000/clientReport/"+clientIds[i];
            var clientName = clientNames[i];
            var html = "<p><a href=" +url +">" +clientName +"</a></p>";
            document.write(html);
        }