doctype
html
  head
    title Near
  body
    p <a href="http://reports.descubrenear.com:3000/internalReports">Internal Reports</a>
    p <a href="http://reports.descubrenear.com:3000/clientReportIndex">Client Reports</a>