doctype
html
  head
    title Near
  body
    p <a href="http://reports.descubrenear.com:2000/totalUsers">Total Users</a>
    p <a href="http://reports.descubrenear.com:2000/totalUsersByGender">Total Users By Gender</a>
    p <a href="http://reports.descubrenear.com:2000/totalUsersAppOpen">Total Users - App Open</a>
    p <a href="http://reports.descubrenear.com:2000/totalUsersAppOpenUnique">Total Users - App Open Unique</a>
    p <a href="http://reports.descubrenear.com:2000/totalUsersAppOpenByGender">Total Users - App Open By Gender</a>
    p <a href="http://reports.descubrenear.com:2000/totalUsersAppOpenByGenderUnique">Total Users - App Open By Gender Unique</a>