doctype
html
  head
    title Near
  body
    script(type='text/javascript').
        var clientId=#{reportClientId};
        var offerId=#{reportOfferId};

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalViews";
        var html = "<p><a href=" +url +"> Total Views </a></p>";
        document.write(html);

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalViewsUnique";
        var html = "<p><a href=" +url +"> Total Views - Unique </a></p>";
        document.write(html);

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalViewsByGender";
        var html = "<p><a href=" +url +"> Total Views - By Gender </a></p>";
        document.write(html);

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalViewsByGenderUnique";
        var html = "<p><a href=" +url +"> Total Views - By Gender Unique </a></p>";
        document.write(html);

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalRedemptions";
        var html = "<p><a href=" +url +"> Total Redemptions </a></p>";
        document.write(html);

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalRedemptionsUnique";
        var html = "<p><a href=" +url +"> Total Redemptions - Unique </a></p>";
        document.write(html);

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalRedemptionsByGender";
        var html = "<p><a href=" +url +"> Total Redemptions - By Gender </a></p>";
        document.write(html);

        var url = "http://reports.descubrenear.com:3000/clientReport/"+clientId+"/offerReport/"+offerId+"/totalRedemptionsByGenderUnique";
        var html = "<p><a href=" +url +"> Total Redemptions - By Gender Unique </a></p>";
        document.write(html);



