doctype
html
  head
    title Near
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="http://code.highcharts.com/highcharts.js")
    script(type='text/javascript', src="http://code.highcharts.com/modules/exporting.js")
  body
    div#container(style="min-width: 500px; height: 500px; margin: 0 auto")
    script(type='text/javascript').
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Users - App Open'
                },
                xAxis: {
                    categories: [#{reportDateRange}],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Number'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Total User',
                    data: [#{reportTotalUsersAppOpen}]

                }]
            });
        });